* {
  box-sizing: border-box;
  margin: 0px;
}

body {
  background-color: #456392;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.App {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  width: 320px;
  height: 430px;
  background-color: white;
  border-radius: 10px;
  padding: 50px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

img {
  border-radius: 50%;
  border: 9px solid rgb(229, 255, 252);
}

h1 {
  color: black;
}

h2 {
  color: black;
}

p {
  margin-bottom: 10px;
  text-align: center;
}
